	<head>
		<meta charset="UTF-8">
		<title>Head part</title>
		<link rel="stylesheet" href="../public/css/style.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

		<nav>
			<ul>

				

			</ul>
		</nav>
	</head>
